@model Sfa.Tl.Matching.Models.ViewModel.SearchViewModel

<h2 class="govuk-body">
    @{ var result = Model.SearchResults.SearchResultProviderCount == 1 ? "result" : "results"; }
    <span class="govuk-!-font-size-36 govuk-!-font-weight-bold" id="tl-search-count">@Model.SearchResults.SearchResultProviderCount </span>@result in <span class="govuk-!-font-weight-bold tl-lowercase" id="tl-search-skillarea">@Model.SearchParameters.RoutesSelectList.SingleOrDefault(x => x.Value == @Model.SearchParameters.SelectedRouteId.ToString())?.Text</span> within <span class="govuk-!-font-weight-bold" id="tl-search-distance">@Model.SearchParameters.SearchRadius miles </span>of <span class="govuk-!-font-weight-bold" id="tl-search-postcode">@Model.SearchParameters.Postcode</span>
</h2>

<p class="govuk-body">
    <a asp-route="SaveProvisionGap"
       asp-route-SearchResultProviderCount="@Model.SearchResults.SearchResultProviderCount"
       asp-route-Postcode="@Model.SearchParameters.Postcode"
       asp-route-SearchRadius="@Model.SearchParameters.SearchRadius"
       asp-route-SelectedRouteId="@Model.SearchParameters.SelectedRouteId"
       asp-route-OpportunityId="@Model.SearchParameters.OpportunityId"
       asp-route-OpportunityItemId="@Model.SearchParameters.OpportunityItemId"
       class="govuk-link" id="tl-search-nosuitable">No suitable providers? Let us know</a>.
</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<p class="govuk-hint">Choose one or more providers for this opportunity</p>

<form asp-controller="Proximity" asp-action="ValidateProviderSearchResult" >
    <input asp-for="SearchParameters.Postcode" name="Postcode" type="hidden" />
    <input asp-for="SearchParameters.SearchRadius" name="SearchRadius" type="hidden" />
    <input asp-for="SearchParameters.SelectedRouteId" name="SelectedRouteId" type="hidden" />
    <input asp-for="SearchResults.SearchResultProviderCount" name="SearchResultProviderCount" type="hidden" />
    <input asp-for="SearchParameters.OpportunityId" name="OpportunityId" type="hidden" />
    <input asp-for="SearchParameters.OpportunityItemId" name="OpportunityItemId" type="hidden" />
    <div class="govuk-form-group" sfa-validation-for="@Model.SearchResults.Results[0].IsSelected" sfa-validationerror-class="govuk-form-group--error">
        <span class="govuk-error-message" asp-validation-for="@Model.SearchResults.Results[0].IsSelected"></span>

        <ol class="tl-search-results">
            @for (var i = 0; i < Model.SearchResults.SearchResultProviderCount; i++)
            {
                var searchResult = Model.SearchResults.Results[i];

                <li class="tl-search-results__list-item tl-search-results__list-item--with-checkbox">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input type="hidden" asp-for="@searchResult.Distance" name="SelectedProvider[@i].DistanceFromEmployer" />
                            <input type="hidden" asp-for="@searchResult.ProviderVenueId" name="SelectedProvider[@i].ProviderVenueId" />

                            @* DO NOT DELETE - asp-for needs to be Model.SearchResults.Results[i].IsSelected *@
                            <input type="checkbox" class="govuk-checkboxes__input" asp-for="@Model.SearchResults.Results[i].IsSelected" name="SelectedProvider[@i].IsSelected" />
                            <label class="govuk-heading-m govuk-checkboxes__label" asp-for="@Model.SearchResults.Results[i].IsSelected" name="SelectedProvider[@i].IsSelected">
                                <span class="tl-search-results-flag">T level provider</span>

                                @searchResult.ProviderName
                                <ul class="tl-inline-list tl-inline-list--bar govuk-!-margin-top-1">
                                    <li>Part of Name here</li>
                                    <li>@searchResult.Town @searchResult.Postcode</li>
                                    <li>@($" {searchResult.Distance:#0.0}") miles</li>
                                </ul>

                                @* New journey times styling, for next sprint when I'm not here, do not delete
                                <div class="timeline">
                                    <ul>
                                        <li>
                                            <p class="govuk-body govuk-!-font-weight-bold">Ask someone to confirm your identity</p>
                                            <p class="govuk-body">Public transport: 31 minutes</p>
                                            <p class="govuk-body">Car: 27 minutes</p>
                                        </li>
                                    </ul>
                                </div>*@
                                <p class="govuk-body govuk-!-margin-top-3">Has students learning:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    @foreach (var qualification in searchResult.QualificationShortTitles)
                                    {
                                        <li>
                                            @qualification
                                        </li>
                                    }
                                </ul>
                            </label>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
    <button id="tl-continue" type="submit" class="govuk-button">Continue with selected providers</button>
</form>