@model Sfa.Tl.Matching.Models.ViewModel.SearchViewModel

<h2 class="govuk-body">
    @{ var result = Model.SearchResults.SearchResultProviderCount == 1 ? "result" : "results"; }
    <span class="govuk-!-font-size-36 govuk-!-font-weight-bold" id="tl-search-count">@Model.SearchResults.SearchResultProviderCount</span> @result in <span class="govuk-!-font-weight-bold tl-lowercase" id="tl-search-skillarea">@Model.SearchParameters.RoutesSelectList.SingleOrDefault(x => x.Value == @Model.SearchParameters.SelectedRouteId.ToString())?.Text</span> within 1 hour of <span class="govuk-!-font-weight-bold" id="tl-search-postcode">@Model.SearchParameters.Postcode</span>
</h2>

<p class="govuk-body">
    <a asp-route="SaveProvisionGap"
       asp-route-SearchResultProviderCount="@Model.SearchResults.SearchResultProviderCount"
       asp-route-Postcode="@Model.SearchParameters.Postcode"
       asp-route-SelectedRouteId="@Model.SearchParameters.SelectedRouteId"
       asp-route-OpportunityId="@Model.SearchParameters.OpportunityId"
       asp-route-OpportunityItemId="@Model.SearchParameters.OpportunityItemId"
       class="govuk-link" id="tl-search-nosuitable">No suitable providers? Let us know</a>.
</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<p class="govuk-hint">Choose one or more providers for this opportunity</p>

<form id="tl-result-form" asp-controller="Proximity" asp-action="ValidateProviderSearchResultAsync">
    <input asp-for="SearchParameters.Postcode" name="Postcode" type="hidden" />
    <input asp-for="SearchParameters.SelectedRouteId" name="SelectedRouteId" type="hidden" />
    <input asp-for="SearchResults.SearchResultProviderCount" name="SearchResultProviderCount" type="hidden" />
    <input asp-for="SearchParameters.OpportunityId" name="OpportunityId" type="hidden" />
    <input asp-for="SearchParameters.OpportunityItemId" name="OpportunityItemId" type="hidden" />
    <div class="govuk-form-group" sfa-validation-for="@Model.SearchResults.Results[0].IsSelected" sfa-validationerror-class="govuk-form-group--error">
        <span class="govuk-error-message" asp-validation-for="@Model.SearchResults.Results[0].IsSelected"></span>

        <ol class="tl-search-results">
            @for (var i = 0; i < Model.SearchResults.SearchResultProviderCount; i++)
            {
                var searchResult = Model.SearchResults.Results[i];

                <li class="tl-search-results__list-item tl-search-results__list-item--with-checkbox">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input type="hidden" asp-for="@searchResult.Distance" name="SelectedProvider[@i].DistanceFromEmployer" />
                            <input type="hidden" asp-for="@searchResult.ProviderVenueId" name="SelectedProvider[@i].ProviderVenueId" />

                            @* DO NOT DELETE - asp-for needs to be Model.SearchResults.Results[i].IsSelected *@
                            <input type="checkbox" class="govuk-checkboxes__input" asp-for="@Model.SearchResults.Results[i].IsSelected" name="SelectedProvider[@i].IsSelected" />
                            <label class="govuk-heading-m govuk-checkboxes__label" asp-for="@Model.SearchResults.Results[i].IsSelected" name="SelectedProvider[@i].IsSelected">
                                @if (@Model.SearchResults.Results[i].IsTLevelProvider)
                                {
                                    <span id="tl-provider" class="tl-search-results-flag">T level provider</span>
                                }

                                @if (searchResult.ProviderVenueName == searchResult.ProviderVenuePostcode)
                                {
                                    @searchResult.ProviderDisplayName
                                    <ul id="tl-venue-detail-list" class="tl-inline-list tl-inline-list--bar govuk-!-margin-top-1">
                                        <li>@searchResult.ProviderVenueTown @searchResult.ProviderVenuePostcode</li>
                                    </ul>
                                }
                                else
                                {
                                    @searchResult.ProviderVenueName
                                    <ul id="tl-venue-detail-list" class="tl-inline-list tl-inline-list--bar govuk-!-margin-top-1">
                                        <li>Part of @searchResult.ProviderDisplayName</li>
                                        <li>@searchResult.ProviderVenueTown @searchResult.ProviderVenuePostcode</li>
                                    </ul>
                                }

                                <div class="timeline">
                                    <ul>
                                        <li id="tl-travel-times">
                                            <p class="govuk-body govuk-!-font-weight-bold">@($"{searchResult.Distance:#0.0}") miles</p>
                                            @if (!string.IsNullOrEmpty(@searchResult.TravelTimeByPublicTransportDisplay))
                                            {
                                                <p class="govuk-body">Public transport: @searchResult.TravelTimeByPublicTransportDisplay</p>
                                            }
                                            @if (!string.IsNullOrEmpty(@searchResult.TravelTimeByDrivingDisplay))
                                            {
                                                <p class="govuk-body">Car: @searchResult.TravelTimeByDrivingDisplay</p>
                                            }
                                        </li>
                                    </ul>
                                </div>

                                <p class="govuk-body govuk-!-margin-top-3">Has students learning:</p>
                                <ul id="tl-qualification-list" class="govuk-list govuk-list--bullet">
                                    @foreach (var qualification in searchResult.QualificationShortTitles)
                                    {
                                        <li>@qualification</li>
                                    }
                                </ul>
                            </label>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
    <button id="tl-continue" type="submit" class="govuk-button">Continue with selected providers</button>
</form>