@model List<Sfa.Tl.Matching.Models.ViewModel.BasketProvisionGapItemViewModel>

<h2 class="govuk-heading-l tl-hidden-desktop">
    With no providers
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</h2>

<table class="govuk-table tl-table-responsive">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Workplace</th>
            <th class="govuk-table__header" scope="col">Job role</th>
            <th class="govuk-table__header" scope="col">Students wanted</th>
            <th class="govuk-table__header" scope="col">Reason no providers chosen</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @for (var i = 0; i < Model.Count; i++)
        {
            var basketItem = Model[i];

            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Workplace">@basketItem.Workplace</td>
                <td class="govuk-table__cell" data-label="Job role">@basketItem.JobRole</td>
                <td class="govuk-table__cell" data-label="Students wanted">@basketItem.PlacementsDetail</td>
                <td class="govuk-table__cell" data-label="Reason no providers chosen">@basketItem.Reason</td>
                <td class="tl-hidden">
                    <input type="hidden" asp-for="@basketItem.OpportunityItemId" name="SelectedOpportunity[@i].Id" />
                    <input type="hidden" asp-for="@basketItem.OpportunityType" name="SelectedOpportunity[@i].OpportunityType" />
                </td>
            </tr>
        }
    </tbody>
</table>