@model Sfa.Tl.Matching.Models.ViewModel.CheckAnswersGapViewModel

@section backButton{
    <a asp-controller="Employer" asp-action="Details" asp-route-id="@Model.OpportunityId" class="govuk-back-link">Back</a>
    <a asp-controller="Provider" asp-action="Start" class="govuk-link tl-float-right govuk-!-margin-top-3"> Finish and start again </a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check @Model.EmployerName's answers</h1>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-heading-m">Placement information</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Type of placement</th>
                    <td class="govuk-table__cell">@Model.Route</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Postcode of workplace</th>
                    <td class="govuk-table__cell">@Model.Postcode</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Searched for providers within</th>
                    <td class="govuk-table__cell">@Model.Distance miles</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Job role</th>
                    <td class="govuk-table__cell">@Model.JobTitle</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Number of placements</th>
                    <td class="govuk-table__cell">
                        @if (Model.PlacementsKnown.HasValue && Model.PlacementsKnown.Value)
                        {
                            @Model.Placements
                        }
                        else
                        {
                            @:at least 1
                        }
                    </td>
                </tr>
            </tbody>
        </table>

        <form asp-route="CheckAnswersGap_Post" novalidate>
            <input asp-for="OpportunityId" type="hidden" />
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Before you tell us there are no providers</h2>
                    </legend>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            
                            <input asp-for="ConfirmationSelected" class="govuk-checkboxes__input" type="checkbox"
                                   sfa-validation-for="Placements" sfa-validationerror-class="govuk-input--error" />
                            <label class="govuk-label govuk-checkboxes__label" for="ConfirmationSelected">
                                @Model.Contact has confirmed that we can share their contact details. This might be to a local enterprise partnership, who can help find suitable providers, or to the providers themselves.
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">Confirm and send report</button>
        </form>
    </div>
</div>