@model Sfa.Tl.Matching.Models.ViewModel.CheckAnswersViewModel
@{
    ViewData["Title"] = "Check answers";
}

@section backButton{
    <a asp-route="GetPlacementOrEmployer" asp-route-opportunityId="@Model.OpportunityId" asp-route-opportunityItemId="@Model.OpportunityItemId" class="govuk-back-link">Back</a>
    @await Component.InvokeAsync("Cancel", new { opportunityId = @Model.OpportunityId, opportunityItemId = @Model.OpportunityItemId })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.CompanyNameWithAka</span>

        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-heading-m">Placement information</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Skill area</th>
                    <td class="govuk-table__cell">
                        @Model.RouteName
                    </td>
                    <td class="govuk-table__cell">
                        <a asp-route="GetProviderResults"
                           asp-route-opportunityId="@Model.OpportunityId"
                           asp-route-searchRadius="@Model.SearchRadius"
                           asp-route-postcode="@Model.Postcode"
                           asp-route-selectedRouteId="@Model.RouteId"
                           class="govuk-link tl-float-right" id="tl-change-link">Change<span class="govuk-visually-hidden"> the type of placement</span></a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Postcode of workplace</th>
                    <td class="govuk-table__cell">
                        @Model.Postcode
                    </td>
                    <td class="govuk-table__cell">
                        <a asp-route="GetProviderResults"
                           asp-route-opportunityId="@Model.OpportunityId"
                           asp-route-searchRadius="@Model.SearchRadius"
                           asp-route-postcode="@Model.Postcode"
                           asp-route-selectedRouteId="@Model.RouteId"
                           class="govuk-link tl-float-right" id="tl-change-link">Change<span class="govuk-visually-hidden"> the postcode of the workplace</span></a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Job role</th>
                    <td class="govuk-table__cell">
                        @Model.JobRole
                    </td>
                    <td class="govuk-table__cell">
                        <a asp-route="GetPlacementInformation" asp-route-opportunityItemId="@Model.OpportunityItemId" class="govuk-link tl-float-right" id="tl-change-link">Change<span class="govuk-visually-hidden"> the job role</span></a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Students wanted</th>
                    <td class="govuk-table__cell">
                        @Model.PlacementsDetail
                    </td>
                    <td class="govuk-table__cell">
                        <a asp-route="GetPlacementInformation" asp-route-opportunityItemId="@Model.OpportunityItemId" class="govuk-link tl-float-right" id="tl-change-link">Change<span class="govuk-visually-hidden"> the number of placements</span></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr class="govuk-section-break govuk-section-break--l ">

        <h2 class="govuk-heading-m">Selected providers</h2>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                @for (int i = 0; i < Model.Providers.Count(); i++)
                {
                    var distance = @Model.Providers[i].DistanceFromEmployer;
                    var milesText = "miles";
                    if (distance == 1)
                    {
                        milesText = "mile";
                    }

                    <tr class="govuk-table__row">

                        @if (@Model.Providers[i].ProviderVenueName == @Model.Providers[i].ProviderVenuePostcode)
                        {
                            <th class="govuk-table__header" scope="row">@Model.Providers[i].ProviderName</th>
                        }
                        else
                        {
                            <th class="govuk-table__header" scope="row">@Model.Providers[i].ProviderVenueName (part of @Model.Providers[i].ProviderName)</th>
                        }

                        <td class="govuk-table__cell">
                            @($"{distance:#0.0}") @milesText from @Model.Postcode
                        </td>

                        @if (Model.Providers.Count() > 1)
                        {
                            <td class="govuk-table__cell">
                                <a href="#" class="govuk-link">Remove</a>
                            </td>
                        }

                    </tr>
                }

            </tbody>
        </table>

        <p class="govuk-body">
            <a class="govuk-link" id="tl-change-providers"
               asp-route="GetProviderResults"
               asp-route-opportunityId="@Model.OpportunityId"
               asp-route-opportunityItemId="@Model.OpportunityItemId"
               asp-route-searchRadius="@Model.SearchRadius"
               asp-route-Postcode="@Model.Postcode"
               asp-route-SelectedRouteId="@Model.RouteId">Change providers</a>
        </p>

        <form asp-action="SaveCheckAnswers" novalidate>
            <input asp-for="OpportunityId" type="hidden" />
            <input asp-for="OpportunityItemId" type="hidden" />

            <button type="submit" class="govuk-button" id="tl-confirm">Confirm and save opportunity</button>
        </form>
    </div>
</div>