@model Sfa.Tl.Matching.Models.ViewModel.CheckAnswersReferralViewModel
@{
    ViewData["Title"] = "Check " + Model.PlacementInformation.EmployerName + "'s answers";
}

@section backButton{
    <a asp-controller="Employer" asp-action="Details" asp-route-id="@Model.OpportunityId" class="govuk-back-link">Back</a>
    <a asp-controller="Proximity" asp-action="Start" class="govuk-link tl-float-right govuk-!-margin-top-3" id="tl-finish"> Finish and start again </a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li><a sfa-validation-for="ConfirmationSelected"></a></li>
                    </ul>
                </div>
            </div>
        }
        <h1 class="govuk-heading-l">Check @Model.PlacementInformation.EmployerName's answers</h1>

        <partial name="_placementInformation" model="Model.PlacementInformation" />

        <hr class="govuk-section-break govuk-section-break--l ">

        <h2 class="govuk-heading-m">Provider information</h2>
        @for (int i = 0; i < Model.Providers.Count(); i++)
        {
            var distance = @Model.Providers[i].DistanceFromEmployer;
            var milesText = "miles";
            if (distance == 1)
            {
                milesText = "mile";
            }

            <h3 class="govuk-heading-s govuk-!-margin-0">Provider @(i + 1)</h3>
            <p class="govuk-body govuk-!-margin-0">@Model.Providers[i].Name</p>
            <p class="govuk-body govuk-!-margin-0">@($"{distance:#0.0}") @milesText from <span style="text-transform: uppercase">@Model.Postcode</span></p>
            <hr class="govuk-section-break govuk-section-break--m ">
        }

        <form asp-route="SaveCheckAnswersReferrals" novalidate>
            <input asp-for="OpportunityId" type="hidden" />
            <div class="govuk-form-group" sfa-validation-for="ConfirmationSelected" sfa-validationerror-class="govuk-form-group--error">
                <fieldset class="govuk-fieldset" aria-describedby="placement-confirmation">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" id="placement-confirmation">
                        Before our system sends the referral emails
                    </legend>
                    <span class="govuk-error-message" asp-validation-for="ConfirmationSelected"></span>

                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input asp-for="ConfirmationSelected" class="govuk-checkboxes__input" type="checkbox"
                                   sfa-validation-for="PlacementInformation.Placements" sfa-validationerror-class="govuk-input--error" />
                            <label class="govuk-label govuk-checkboxes__label" for="ConfirmationSelected">
                                @Model.PlacementInformation.EmployerContact has confirmed that we can send their details to the selected providers, and that these providers can contact them about industry placements.
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" id="tl-confirm">Confirm and send emails</button>
        </form>
    </div>
</div>