@model Sfa.Tl.Matching.Models.ViewModel.MissingQualificationViewModel

@{
    ViewData["Title"] = "We need extra information for this qualification";
}

@section backButton{
    @*<a asp-route="GetProviderVenueDetail" asp-route-providerId="@Model.ProviderVenueId" class="govuk-back-link" id="tl-back">Back</a>*@
    <a asp-route="GetAdminBackLink"  class="govuk-back-link" id="tl-back">Back</a>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li><a sfa-validation-for="ShortTitle"></a></li>
                <li><a href="#Routes_0__IsSelected" sfa-validation-for="Routes"></a></li>
            </ul>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Learning aim reference (LAR)</p>
        <p id="tl-qualification-larid" class="govuk-body">@Model.LarId</p>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Qualification title</p>
        <p id="tl-qualification-title" class="govuk-body">@Model.Title</p>

        <p class="govuk-body"><a id="tl-change" class="govuk-link" asp-route="AddQualification" asp-route-ProviderVenueId="@Model.ProviderVenueId">Change qualification</a></p>

        <form asp-route="SaveMissingQualification" novalidate>
            <input type="hidden" asp-for="ProviderVenueId" />
            <input type="hidden" asp-for="LarId" />
            <input type="hidden" asp-for="Title" />
            <input asp-for="Source" value="Admin" type="hidden" />

            <div class="govuk-form-group govuk-!-margin-top-8" sfa-validation-for="ShortTitle" sfa-validationerror-class="govuk-form-group--error">
                <label class="govuk-label" asp-for="ShortTitle">
                    <h2 class="govuk-heading-m govuk-!-margin-0">What is the short title for this qualification? </h2>
                </label>
                <span id="short-title-hint" class="govuk-hint">
                    Start typing a short title
                </span>
                <span class="govuk-error-message" asp-validation-for="ShortTitle"></span>

                <select id="ShortTitle" name="ShortTitle"
                        class="govuk-input" aria-describedby="short-title-hint"></select>
                <input id="shortTitleHidden" asp-for="ShortTitle" type="hidden" />
            </div>

            <div class="govuk-form-group govuk-!-margin-top-8" sfa-validation-for="Routes" sfa-validationerror-class="govuk-form-group--error">
                <fieldset class="govuk-fieldset" aria-describedby="skill-area-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            Which skill area does this qualification belong to?
                        </h1>
                    </legend>
                    <span id="skill-area-hint" class="govuk-hint">
                        Select the ones that are the closest fit
                    </span>

                    <span class="govuk-error-message" asp-validation-for="Routes"></span>

                    @for (var i = 0; i < Model.Routes.Count; i++)
                    {
                        var route = Model.Routes[i];

                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input type="hidden" asp-for="@route.Id" name="Routes[@i].Id" />

                                <input type="checkbox" class="govuk-checkboxes__input"
                                       asp-for="@Model.Routes[i].IsSelected"
                                       name="Routes[@i].IsSelected">
                                <label class="govuk-label govuk-checkboxes__label"
                                       asp-for="@Model.Routes[i].IsSelected"
                                       name="Routes[@i].IsSelected">@route.Name</label>
                                    <span class="govuk-hint govuk-checkboxes__hint"
                                          id="Routes[@i]-hint">@route.Summary</span>
                                    </div>
                                </div>
                            }

                </fieldset>
            </div>
            <button id="tl-add" class="govuk-button" type="submit">Add qualification</button>
        </form>
    </div>
</div>
@section jsfiles{
    <script src="~/javascripts/missing-quals.min.js"></script>
}