@model Sfa.Tl.Matching.Models.ViewModel.ProviderVenueDetailViewModel

@{
    ViewData["Title"] = Model.Postcode;
}

@section backButton{
    @if (Model.IsFromAddVenue)
    {
        <a asp-route="AddVenue" asp-route-providerId="@Model.ProviderId" class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-controller="Provider" asp-action="ProviderDetail" asp-route-providerId="@Model.ProviderId" class="govuk-back-link">Back</a>
    }
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            This page has errors
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li><a sfa-validation-for="Name"></a></li>
               @* <li><a href="#addQual" sfa-validation-for="@Model.Qualifications"></a></li>*@
            </ul>
        </div>
    </div>
}
<form asp-route="SaveProviderVenueDetail" novalidate>
    <input asp-for="Id" type="hidden" />
    <input asp-for="ProviderId" type="hidden" />
    <input asp-for="IsFromAddVenue" type="hidden" />
    <input asp-for="Postcode" type="hidden" />
    <input asp-for="Source" value="Admin" type="hidden" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-m">@Model.ProviderName</span>
            <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
            <p class="govuk-body">
                <a asp-controller="ProviderVenue" asp-action="ConfirmRemoveProviderVenue" asp-route-providerVenueId="@Model.Id" class="govuk-link">Remove venue</a>
            </p>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Does @Model.ProviderName want our help finding placements for students at this venue?
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="search-visible-yes" asp-for="IsEnabledForReferral" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" asp-for="IsEnabledForReferral">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="search-visible-no" asp-for="IsEnabledForReferral" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" asp-for="IsEnabledForReferral">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group" sfa-validation-for="Name" sfa-validationerror-class="govuk-form-group--error">
                <label class="govuk-label govuk-label--s" for="Name">
                    How should @Model.Postcode show in search results?
                </label>
                <span class="govuk-error-message" asp-validation-for="Name"></span>
                <input asp-for="Name" class="govuk-input govuk-input--width-20" type="text" sfa-validation-for="Name" sfa-validationerror-class="govuk-input--error">
            </div>

            <button type="submit" class="govuk-button tl-button--grey" id="tl-confirm"
                    name="SubmitAction" value="SaveSection">
                Save section
            </button>

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h2 class="govuk-heading-m">Qualifications</h2>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Learning aim reference</th>
                        <th class="govuk-table__header" scope="col">Qualification title</th>
                        <th class="govuk-table__header" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @for (var i = 0; i < Model.Qualifications?.Count; i++)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <input type="hidden" asp-for="@Model.Qualifications[i].LarsId" name="Qualifications[@i].LarsId" />
                                <input type="hidden" asp-for="@Model.Qualifications[i].Title" name="Qualifications[@i].Title" />
                                @Model.Qualifications[i].LarsId
                            </td>
                            <td class="govuk-table__cell">@Model.Qualifications[i].Title</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove qualification</a></td>

                        </tr>
                    }
                </tbody>
            </table>

            @*<p class="govuk-body">
            <a class="govuk-link" id="addQual" href="#">Add a qualification</a>
        </p>*@

            <button type="submit" class="govuk-button tl-button--grey" id="tl-confirm"
                    name="SubmitAction" value="SaveAndAdd">
                Save and add a qualification
            </button>

            @*<button type="submit" class="govuk-button" id="tl-confirm"
                    name="SubmitAction" value="SaveAndFinish">
                Save and return to provider overview
            </button>*@
        </div>
    </div>
</form>