@model Sfa.Tl.Matching.Models.ViewModel.ProviderSearchViewModel

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">UKPRN</th>
            <th class="govuk-table__header" scope="col">Provider name</th>
            <th class="govuk-table__header" scope="col">CDF provider</th>
            <th class="govuk-table__header" scope="col"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @for (var i = 0; i < Model.SearchResults.SearchResultProviderCount; i++)
        {
            var provider = Model.SearchResults.Results[i];

            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@provider.UkPrn</td>
                <td class="govuk-table__cell">@provider.Name</td>
                <td class="govuk-table__cell">@provider.IsCdfProvider</td>
                <td class="govuk-table__cell">
                    <a asp-route="GetProviderDetail" asp-route-providerId="@provider.Id" 
                       class="govuk-link tl-float-right">Edit<span class="govuk-visually-hidden"> @provider.Name's details</span></a>
                    <input type="hidden" asp-for="@provider.Id" name="Providers[@i].ProviderId" />
                </td>
            </tr>
        }
    </tbody>
</table>
