@model Sfa.Tl.Matching.Models.ViewModel.ProviderDetailViewModel
@{
    ViewData["Title"] = "Provider overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section backButton{
    <a asp-controller="Provider" asp-action="SearchProvider" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="SaveProviderDetail">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="UkPrn" />
            <input type="hidden" asp-for="IsEnabledForSearch" />

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a href="#IsEnabledForReferral-yes" sfa-validation-for="IsEnabledForReferral"></a></li>
                            <li><a sfa-validation-for="PrimaryContact"></a></li>
                            <li><a sfa-validation-for="PrimaryContactEmail"></a></li>
                            <li><a sfa-validation-for="PrimaryContactPhone"></a></li>
                            <li><a sfa-validation-for="SecondaryContact"></a></li>
                            <li><a sfa-validation-for="SecondaryContactEmail"></a></li>
                            <li><a sfa-validation-for="SecondaryContactPhone"></a></li>
                        </ul>
                    </div>
                </div>
            }
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-m">UKPRN: @Model.UkPrn</span>
                @Model.Name
            </h1>
            <p class="govuk-body"><a asp-controller="Provider" class="govuk-link" asp-action="ConfirmProviderChange" asp-route-providerId="@Model.Id"> @(Model.IsEnabledForSearch ? "Hide" : "Unhide") provider</a></p>

            <div class="govuk-form-group">
                <label class="govuk-heading-s" asp-for="DisplayName">
                    Enter display name (optional)
                </label>
                <input class="govuk-input" asp-for="DisplayName" sfa-validation-for="DisplayName" sfa-validationerror-class="govuk-input--error" type="text">
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">
                            Should they receive referrals?
                        </h2>
                    </legend>
                    <span class="govuk-error-message" asp-validation-for="IsEnabledForReferral"></span>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="IsEnabledForReferral-yes" asp-for="IsEnabledForReferral" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" asp-for="IsEnabledForReferral">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" asp-for="IsEnabledForReferral" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" asp-for="IsEnabledForReferral">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Placement contact
                        </h2>
                    </legend>

                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="PrimaryContact">
                            Contact name for placements
                        </label>
                        <span class="govuk-error-message" asp-validation-for="PrimaryContact"></span>
                        <input class="govuk-input govuk-input--width-20" asp-for="PrimaryContact" sfa-validation-for="PrimaryContact" sfa-validationerror-class="govuk-input--error" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="PrimaryContactEmail">
                            Email
                        </label>
                        <span class="govuk-error-message" asp-validation-for="PrimaryContactEmail"></span>
                        <input class="govuk-input govuk-input--width-20" asp-for="PrimaryContactEmail" sfa-validation-for="PrimaryContactEmail" sfa-validationerror-class="govuk-input--error" type="email">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="PrimaryContactPhone">
                            Phone number
                        </label>
                        <span class="govuk-error-message" asp-validation-for="PrimaryContactPhone"></span>
                        <input class="govuk-input govuk-input--width-20" asp-for="PrimaryContactPhone" sfa-validation-for="PrimaryContactPhone" sfa-validationerror-class="govuk-input--error" type="tel">
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Placement secondary contact
                        </h2>
                    </legend>

                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="SecondaryContact">
                            Contact name for placements
                        </label>
                        <input class="govuk-input govuk-input--width-20" asp-for="SecondaryContact" sfa-validation-for="SecondaryContact" sfa-validationerror-class="govuk-input--error" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="SecondaryContactEmail">
                            Email
                        </label>
                        <input class="govuk-input govuk-input--width-20" asp-for="SecondaryContactEmail" sfa-validation-for="SecondaryContactEmail" sfa-validationerror-class="govuk-input--error" type="email">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="SecondaryContactPhone">
                            Phone number
                        </label>
                        <input class="govuk-input govuk-input--width-20" asp-for="SecondaryContactPhone" sfa-validation-for="SecondaryContactPhone" sfa-validationerror-class="govuk-input--error" type="tel">
                    </div>
                </fieldset>
            </div>

            <button type="submit`" class="govuk-button tl-button--grey">
                Save section
            </button>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-m">Venues and qualifications</h2>

            @if (Model.ProviderVenue.Count <= 0)
            {
                <p class="govuk-body">You need to <a class="govuk-link" asp-route="AddVenue" asp-route-ProviderId="@Model.Id">add a venue for this provider</a>.</p>
            }
            else
            {
                if (Model.ProviderVenue.Any(v => v.IsEnabledForSearch))
                {
                    <h2 class="govuk-heading-m">Active venues</h2>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Postcode</th>
                                <th class="govuk-table__header" scope="col">2018 to 2019</th>
                                <th class="govuk-table__header" scope="col">2019 to 2020</th>
                                <th class="govuk-table__header" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var venue in Model.ProviderVenue.Where(v => v.IsEnabledForSearch))
                            {
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__cell">@venue.Postcode</th>
                                    <td class="govuk-table__cell">@venue.QualificationCount qualifications</td>
                                    <td class="govuk-table__cell">No data yet</td>
                                    <td class="govuk-table__cell"><a asp-route="GetProviderVenueDetail" asp-route-providerVenueId="@venue.ProviderVenueId" class="govuk-link tl-float-right">Change<span class="govuk-visually-hidden"> the information for this venue</span></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                if (Model.ProviderVenue.Any(v => !v.IsEnabledForSearch))
                {
                    <h2 class="govuk-heading-m">Inactive venues</h2>

                    <table class="govuk-table tl-table__inactive">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Postcode</th>
                                <th class="govuk-table__header" scope="col">2018 to 2019</th>
                                <th class="govuk-table__header" scope="col">2019 to 2020</th>
                                <th class="govuk-table__header" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var venue in Model.ProviderVenue.Where(v => !v.IsEnabledForSearch))
                            {
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__cell">@venue.Postcode</th>
                                    <td class="govuk-table__cell">@venue.QualificationCount qualifications</td>
                                    <td class="govuk-table__cell">No data yet</td>
                                    <td class="govuk-table__cell"><a asp-route="ConfirmProviderVenueChange" asp-route-providerId="@Model.Id" asp-route-providerVenueId="@venue.ProviderVenueId" class="govuk-link tl-float-right">Unhide<span class="govuk-visually-hidden"> this venue</span></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <p class="govuk-body"><a class="govuk-link" asp-route="AddVenue" asp-route-ProviderId="@Model.Id">Add a venue</a></p>
            }

            <button type="submit" class="govuk-button">Save and finish</button>

        </form>
    </div>
</div>